# Ecuador - Daily Production Data

In [13]:
import requests

#  Make a get request
url='https://www.controlhidrocarburos.gob.ec/wp-content/uploads/Prod-Mensual-Fiscalizada-01-MAYO-2020.pdf'
response=requests.get(url)

# Check for errors
try:
    response.raise_for_status()
except Exception as exc:
    print('There was a proble:%s' % (exc))

In [14]:
# Saving downloaded file
with open('Prod-Mensual-Fiscalizada-01-MAYO-2020.pdf', 'wb') as f:
    f.write(response.content)

In [ ]:
# trying with Tabula  - IT WORKED after installing JAVA

from tabula import read_pdf
#dl=read_pdf('Prod-Mensual-Fiscalizada-01-MAYO-2020.pdf',multiple_tables=True, pages='all')
dl=read_pdf(url,multiple_tables=True,pages='all')
print(dl)

In [4]:
dl[0]

,OPERADORA,01-abr-20,02-abr-20,03-abr-20,04-abr-20,05-abr-20,06-abr-20,07-abr-20,08-abr-20,09-abr-20,10-abr-20,11-abr-20,12-abr-20,13-abr-20,14-abr-20,15-abr-20,16-abr-20,SUB TOTAL
0,(1) (2)PETROAMAZONAS EP,205.579,209.339,215.561,206.734,215.135,194.036,205.435,68.692,13.195,9.280,-14.524,18.088,4.185,25.679,5.762,24.481,1.606.656
1,(5)PETROAMAZONAS EP,206.966,216.264,204.457,205.811,197.060,212.532,198.319,153.867,80.647,66.119,47.811,47.852,52.750,50.695,51.653,52.134,2.044.936
2,(1)PETROAMAZONAS EP - BLOQUE 1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0
3,SUBTOTAL CIAS. NACIONALES,412.545,425.602,420.019,412.545,412.195,406.567,403.754,222.559,93.841,75.399,33.287,65.941,56.935,76.374,57.415,76.615,3.651.593

In [5]:
dl[1]

,ENAP SIPETROL,23.130,23.250,23.212,23.545,23.739,23.715,18.193,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,158.784
0,ANDES PETROLEUM,29.351,29.558,29.681,29.576,29.057,29.120,28.832,25.429,21.106,27.829,22.195,4.821,4.941,4.940,5.036,5.029,326.499
1,GENTE OIL - BLOQUE SINGUE,2.863,2.870,2.874,2.872,2.874,2.872,6.004,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,23.228
2,CONSORCIO PALANDA - YUCA SUR,2.712,2.731,2.724,2.729,2.707,2.708,2.699,4.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,19.013
3,CONSORCIO PEGASO - CAMPO PUMA,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,CONSORCIO PETROSUD - PETRORIVA,3.763,3.655,3.715,3.703,3.712,3.708,3.503,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,25.759
5,ORION (B54+B52),4.473,4.448,4.453,4.522,4.441,4.412,3.826,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,30.576
6,PETROBELL,2.135,1.796,2.388,2.219,1.786,2.230,1.725,32.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,14.311
7,PETROORIENTAL (B14+B17),14.028,11.400,11.595,12.394,10.130,11.259,10.391,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,81.196
8,PLUSPETROL,2.696,5.919,9.856,9.180,5.898,8.554,8.292,0.000,0.000,0.000,0.000,0.000,0.000,11.957,0.000,0.000,62.351
9,REPSOL,14.618,14.419,14.883,10.789,14.715,14.968,15.041,20.448,21.245,27.199,10.056,7.142,5.971,7.528,6.887,6.380,212.289
10,PACIFPETROL,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
11,SUBTOTAL CIAS. PRIVADAS,99.769,100.045,105.381,101.529,99.059,103.545,98.505,45.912,42.351,55.028,32.250,11.963,10.912,24.425,11.922,11.409,954.006

In [6]:
dl[2]

Empty DataFrame
Columns: [TOTAL CIAS. PRIVADAS MAS NACIONALES, 512.314, 525.648, 525.399, 514.074, 511.254, 510.113, 502.259, 268.471, 136.192, 130.427, 65.538, 77.904, 67.846, 100.799, 69.337, 88.024, 4.605.599]
Index: []

In [7]:
test=dl[1]

In [8]:

df=dl[0].append(dl[1],ignore_index=True, sort=False)
result=df.append(dl[2],ignore_index=True, sort=False)
result

,OPERADORA,01-abr-20,02-abr-20,03-abr-20,04-abr-20,05-abr-20,06-abr-20,07-abr-20,08-abr-20,09-abr-20,...,268.471,136.192,130.427,65.538,77.904,67.846,100.799,69.337,88.024,4.605.599
0,(1) (2)PETROAMAZONAS EP,205.579,209.339,215.561,206.734,215.135,194.036,205.435,68.692,13.195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(5)PETROAMAZONAS EP,206.966,216.264,204.457,205.811,197.060,212.532,198.319,153.867,80.647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(1)PETROAMAZONAS EP - BLOQUE 1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUBTOTAL CIAS. NACIONALES,412.545,425.602,420.019,412.545,412.195,406.567,403.754,222.559,93.841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#convert it to csv
from tabula import convert_into
convert_into('Prod-Mensual-Fiscalizada-01-MAYO-2020.pdf','test.csv', output_format='csv',pages='all')

In [18]:
# reading the CSV with ANSI encoding
import pandas as pd
df1=pd.read_csv('test.csv',encoding='mbcs')
df1

,OPERADORA,01-abr-20,02-abr-20,03-abr-20,04-abr-20,05-abr-20,06-abr-20,07-abr-20,08-abr-20,09-abr-20,10-abr-20,11-abr-20,12-abr-20,13-abr-20,14-abr-20,15-abr-20,16-abr-20,SUB TOTAL
0,(1) (2)PETROAMAZONAS EP,205.579,209.339,215.561,206.734,215.135,194.036,205.435,68.692,13.195,9.280,-14.524,18.088,4.185,25.679,5.762,24.481,1.606.656
1,(5)PETROAMAZONAS EP,206.966,216.264,204.457,205.811,197.060,212.532,198.319,153.867,80.647,66.119,47.811,47.852,52.750,50.695,51.653,52.134,2.044.936
2,(1)PETROAMAZONAS EP - BLOQUE 1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,SUBTOTAL CIAS. NACIONALES,412.545,425.602,420.019,412.545,412.195,406.567,403.754,222.559,93.841,75.399,33.287,65.941,56.935,76.374,57.415,76.615,3.651.593
4,ENAP SIPETROL,23.130,23.250,23.212,23.545,23.739,23.715,18.193,0,0,0,0,0,0,0,0,0,158.784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,ECOPETROL,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,NaN
97,GUNVOR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,NaN
98,PRODUCTORES COLOMBIANOS OSLA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,NaN
99,VETRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,NaN
100,TOTAL CRUDO COLOMBIANO RECIBIDO,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,16.876,NaN

In [ ]:
# Checking available URL/PDF

# Define months in Spanish
import requests
months=['ENERO','FEBRERO','MARZO','ABRIL','MAYO','JUNIO','JULIO','AGOSTO','SEPTIEMBRE','OCTUBRE','NOVIEMBRE','DICIEMBRE']
#url = 'https://www.controlhidrocarburos.gob.ec/wp-content/uploads/Prod-Mensual-Fiscalizada-'+date+'.pdf'

working_url=[]
non_working_url=[]
#years = ['2018', '2019', '2020']

#for y in years:
for m in months:
    start_date=1
    stop_date=31

    while start_date <= stop_date:
        start_str=str(start_date)
        if len(start_str) == 1:
            start_str='0'+start_str
        else:
            start_str
        url = 'https://www.controlhidrocarburos.gob.ec/wp-content/uploads/Prod-Mensual-Fiscalizada-'+start_str+'-'+m+'-2020.pdf'

        response=requests.get(url)
        # Check for errors
        try:
            response.raise_for_status()
        except Exception as exc:
            #print('There was a proble:%s' % (exc))
            non_working_url.append(url)
        else:
            #print('This '+url+'is working')
            working_url.append(url)
        start_date=start_date+1
        

print('loop has finished')



# exporting all the working URL in a csv:
import pandas as pd
df_url=pd.DataFrame(working_url)
print(df_url)
csv_url=df_url.to_csv('csv_url.csv',index=False)

# ALTERNATIVE 1
# trying with tika - IT WORKED after installing JAVA

from tika import parser

raw = parser.from_file('Prod-Mensual-Fiscalizada-31-MARZO-2020.pdf')
print(raw['content'])

# ALTERNATIVE 2
# trying with pypdf2  - IT WORKS


#importing required modules 

import PyPDF2 
  
#creating a pdf file object 

pdfFileObj = open('Prod-Mensual-Fiscalizada-31-MARZO-2020.pdf', 'rb') 
  
#creating a pdf reader object 

pdfReader = PyPDF2.PdfFileReader(pdfFileObj) 
  
#printing number of pages in pdf file 

print(pdfReader.numPages) 
  
#creating a page object 

pageObj = pdfReader.getPage(0) 
  
#extracting text from page 

print(pageObj.extractText()) 
  
#closing the pdf file object 

pdfFileObj.close()

# ALTERNATIVE 3
# trying with camelot - IT DOESN'T WORK

import camelot

tables = camelot.read_pdf('Prod-Mensual-Fiscalizada-31-MARZO-2020.pdf')
tables