In [1]:
pwd

'C:\\Users\\OLOYEDE_O\\PycharmProjects\\scraper\\notebooks'

In [3]:
cd ..

C:\Users\OLOYEDE_O\PycharmProjects\scraper

In [4]:
from scraper.jobs.utils import get_driver
import pandas as pd
import selenium
from selenium import webdriver

In [5]:
page_url = 'https://nnpcgroup.com/Public-Relations/Oil-and-Gas-Statistics/Pages/Annual-Statistics-Bulletin.aspx'

In [6]:
# create the selenium object
driver = get_driver(headless=True)

In [7]:
# get the web content
driver.get(page_url)

In [9]:
# simulate the click of the site
button_click = driver.find_element_by_xpath("//h4[@class = 'panel-title']")
button_click.click()

In [10]:
# find the pdf files links 
file_links = driver.find_elements_by_xpath("//div[@class = 'ExternalClass92E527D52D4B40A8892AD46EB3BD47FA']/div/a")

In [11]:
file_storage = []
for link in file_links:
    file_storage.append(link.get_attribute('href'))

**TRANSFORMATION**

**This section transform the Nigeria production from 2008 to 2019**

In [12]:
# isolate the links corresponding to the year
file_link_2 = file_storage[11:-1]

**2008**

In [13]:
# create the function for the trabsformation of 2008

def transform_data_2008():
    # read the data into the tabular
    production_year : str = '2008'
    df_2008 = tabula.read_pdf(file_link_2[0],pages = '23',output_format ='dataframe')
    # slice the dataframe
    final_df = df_2008[0]
    # drop all null values
    final_df = final_df.dropna(how='all')
    # move the columns into place
    final_df.columns = final_df.iloc[0].values
    # remove unwanted spaces
    final_df = final_df.iloc[3:,:]
    # drop row
    final_df.drop(labels=4,axis=0,inplace=True)
    
    # split the value into the column position 
    value_1 = final_df.iloc[4].values[12].split('00',1)[1]
    value_2 = final_df.iloc[4].values[12].split('00',1)[0] + '00'
    
    # assign the values into the appropriate position
    final_df.iloc[4].values[13] = value_1
    # assign to the total space
    final_df.iloc[4].values[12] = value_2
    # remove the pat of the dataframe not needed
    final_df = final_df.iloc[:35,:]
    # convert the column naEmes
    new_columes = ['entity','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER','TOTAL','PERCENTAGE SHARE']
    final_df.columns = new_columes
    
    # drop the columns
    final_df.drop(labels=['TOTAL','PERCENTAGE SHARE'],axis=1,inplace=True)
    # rename a row
    final_df= final_df.rename(index={'(Condensate)':'Forcados condensate'})
    # remove the commas in the number
    final_df = final_df.replace(',','', regex=True)
    # reset the index
    final_df =final_df.reset_index(drop=True)
    # drop unwanted rows
    final_df.drop(labels =[22,30,31,32],axis=0,inplace=True)
    # reset the index
    final_df =final_df.reset_index(drop=True)
    # create the product column
    final_df['product'] = 'CRUDEOIL'
    final_df['entity'][9] = final_df['entity'][9].replace('- ','-')
    # arrage data
    # combine the columns
    final_df.iloc[0] = final_df.iloc[0][1:-1].astype(float)+ final_df.iloc[1][1:-1].astype(float)
    final_df.iloc[0][-1] = 'CRUDEOIL'
    final_df.iloc[0][0] = 'Forcados'
    final_df.iloc[9] = final_df.iloc[9][1:-1].astype(float)+ final_df.iloc[23][1:-1].astype(float) + final_df.iloc[24][1:-1].astype(float) + final_df.iloc[25][1:-1].astype(float)
    final_df.iloc[9][-1] = 'CRUDEOIL'
    final_df.iloc[9][0] = 'QUA_IBOE'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[26][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[4] = final_df.iloc[4][1:-1].astype(float)+ final_df.iloc[27][1:-1].astype(float)
    final_df.iloc[4][-1] = 'CRUDEOIL'
    final_df.iloc[4][0] = 'ESCRAVOS'
    final_df.iloc[10] = final_df.iloc[10][1:-1].astype(float)+ final_df.iloc[28][1:-1].astype(float)
    final_df.iloc[10][-1] = 'CRUDEOIL'
    final_df.iloc[10][0] = 'OSO'
    # retain only the first name of the fields
    final_df['entity'] =final_df['entity'].map(lambda x : x.split(' ')[0].replace('-','_').upper())
    # drop row 
    final_df.drop(labels=[1,23,24,25,26,27,28],axis =0,inplace=True)
    # change the name
    final_df.iloc[21][0] = 'SEA EAGLE'
    # reset the name
    final_df =final_df.reset_index(drop=True)
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars=['entity','product'],var_name='period',value_name='value')
    
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2009**

In [14]:
# create the function that transforms the 2009 data

def transform_data_2009():
    # read data into tabular library
    production_year :str = '2009'
    df = tabula.read_pdf(file_link_2[1],pages = '17',output_format ='dataframe')
    # slice the dataframe
    final_df = df [0]
    
    # drop additional columns from the dataframee
    final_df.drop(labels=['MONTHS','TOTAL','PERCENTAGE'],axis=1,inplace=True)
    
    # slice out the unwanted part of the dataframe
    final_df =final_df.iloc[1:,:]
    
    # change the column
    new_columes =  ['entity','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER']
    final_df.columns = new_columes[:13]
    # drop the rows that are not useful
    final_df.drop([24,32,33,34],axis=0,inplace=True)
    # reset the index
    final_df =final_df.reset_index(drop=True)
    # create the product column
    final_df['product'] = 'CRUDEOIL'
    final_df['entity'][9] = final_df['entity'][9].replace('- ','-')
    # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    # remove commas
    final_df = final_df.replace(',','', regex=True)
    # add duplicated rows in the dataframe
    final_df.iloc[0] = final_df.iloc[0][1:-1].astype(float)+ final_df.iloc[1][1:-1].astype(float)
    final_df.iloc[0][-1] = 'CRUDEOIL'
    final_df.iloc[0][0] = final_df.iloc[1][0]
    final_df.iloc[9] = final_df.iloc[9][1:-1].astype(float)+ final_df.iloc[24][1:-1].astype(float) + final_df.iloc[25][1:-1].astype(float) + final_df.iloc[26][1:-1].astype(float)
    final_df.iloc[9][-1] = 'CRUDEOIL'
    final_df.iloc[9][0] = 'QUA_IBOE'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[27][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[4] = final_df.iloc[4][1:-1].astype(float)+ final_df.iloc[28][1:-1].astype(float)
    final_df.iloc[4][-1] = 'CRUDEOIL'
    final_df.iloc[4][0] = 'ESCRAVOS'
    # drop row 
    final_df.drop(labels=[1,24,25,26,27,28,29],axis =0,inplace=True)
    # change the name
    final_df.iloc[22][0] = 'SEA EAGLE'
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars=['entity','product'],var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2010**

In [15]:
# create the function for the 2010 data

def transform_data_2010():
    # read in the data into dataframe
    production_year:str = 2010
    final_df =tabula.read_pdf(file_link_2[2],pages = '28',output_format ='dataframe')[0]
    # rename the column
    column_2010 = ['entity','MONTHS','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER',
 'TOTAL',
 'PERCENTAGE SHARE']
    final_df.columns= column_2010
    # drop additional columns from the dataframee
    final_df.drop(labels=['MONTHS','TOTAL','PERCENTAGE SHARE'],axis=1,inplace=True)
    # slice out the unwanted part of the dataframe
    final_df = final_df.iloc[1:,:]
    # slice the unwanted rows
    final_df.drop([24,32,33,34],axis=0,inplace=True)
    # reset the index
    final_df =final_df.reset_index(drop=True)
    # split the column into two
    final_df[['DECEMBER','TOTAL']] = final_df['DECEMBER'].str.split(' ',expand=True)
    # drop the TOTAL column
    final_df.drop(labels= 'TOTAL',axis=1,inplace=True)
    # remove commas
    final_df = final_df.replace(',','', regex=True)
    # create the product column
    final_df['product'] = 'CRUDEOIL'
     # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    # add duplicated rows in the dataframe
    final_df.iloc[0] = final_df.iloc[0][1:-1].astype(float)+ final_df.iloc[1][1:-1].astype(float)
    final_df.iloc[0][-1] = 'CRUDEOIL'
    final_df.iloc[0][0] = final_df.iloc[1][0]
    final_df.iloc[9] = final_df.iloc[9][1:-1].astype(float)+ final_df.iloc[24][1:-1].astype(float) + final_df.iloc[25][1:-1].astype(float) + final_df.iloc[26][1:-1].astype(float)
    final_df.iloc[9][-1] = 'CRUDEOIL'
    final_df.iloc[9][0] = 'QUA_IBOE'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[27][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[4] = final_df.iloc[4][1:-1].astype(float)+ final_df.iloc[28][1:-1].astype(float)
    final_df.iloc[4][-1] = 'CRUDEOIL'
    final_df.iloc[4][0] = 'ESCRAVOS'
    final_df.iloc[10] = final_df.iloc[10][1:-1].astype(float)+ final_df.iloc[29][1:-1].astype(float)
    final_df.iloc[10][-1] = 'CRUDEOIL'
    final_df.iloc[10][0] = 'OSO'
    # drop row 
    final_df.drop(labels=[1,24,25,26,27,28,29],axis =0,inplace=True)
    # change the name
    final_df.iloc[22][0] = 'SEA EAGLE'
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2011**

In [ ]:
# function that transform the 2011 data

def transform_data_2011():
    """
    This function transforms the data from a pdf 
    @return: Pandas dataframe
    """
    # read in the data into the dataframe
    production_year:str = 2011
    final_df =tabula.read_pdf(file_link_2[3],pages = '30',output_format ='dataframe')[0]
    
    # rename the columns
    column_2011 = ['entity','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER',
     'TOTAL','PERCENTAGE SHARE']
    final_df.columns = column_2011
    
    # drop the columns 
    final_df.drop(labels=['TOTAL','PERCENTAGE SHARE'],axis=1,inplace=True)
    # slice the dataframe
    final_df = final_df.iloc[:37,:]
    # drop the rows
    final_df.drop([25,33,34,35],axis=0,inplace=True)
    # reset the index
    final_df =final_df.reset_index(drop=True)
    # remove commas
    final_df = final_df.replace(',','', regex=True)
    # create the product column
    final_df['product'] = 'CRUDEOIL'
     # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    # add duplicated rows in the dataframe
    final_df.iloc[0] = final_df.iloc[0][1:-1].astype(float)+ final_df.iloc[1][1:-1].astype(float)
    final_df.iloc[0][-1] = 'CRUDEOIL'
    final_df.iloc[0][0] = final_df.iloc[1][0]
    final_df.iloc[9] = final_df.iloc[9][1:-1].astype(float)+ final_df.iloc[26][1:-1].astype(float) + final_df.iloc[27][1:-1].astype(float) + final_df.iloc[28][1:-1].astype(float)
    final_df.iloc[9][-1] = 'CRUDEOIL'
    final_df.iloc[9][0] = 'QUA_IBOE'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[29][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[4] = final_df.iloc[4][1:-1].astype(float)+ final_df.iloc[30][1:-1].astype(float)
    final_df.iloc[4][-1] = 'CRUDEOIL'
    final_df.iloc[4][0] = 'ESCRAVOS'
    final_df.iloc[13] = final_df.iloc[13][1:-1].astype(float)+ final_df.iloc[31][1:-1].astype(float)
    final_df.iloc[13][-1] = 'CRUDEOIL'
    final_df.iloc[13][0] = 'OSO'
    # drop row 
    final_df.drop(labels=[1,26,27,28,29,30,31],axis =0,inplace=True)
    # change the name
    final_df.iloc[24][0] = 'SEA EAGLE'
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2012**

In [17]:
# create the fuction for the 2012
def transform_data_2012():
     # read in the data  
    production_year:str = 2012
    final_df =tabula.read_pdf(file_link_2[4],pages = '29',output_format ='dataframe')[0]
    # slice out the unnecssary porttion
    final_df = final_df.iloc[:40,:]
    
    final_df = final_df.iloc[1:,:]
    # rename the columns 
    column_2012 = ['UNKNOWN1','entity','MONTHS','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST', 
    'SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER','TOTAL','PERCENTAGE SHARE','UNKNOWN2','UNKNOWN3']  
    final_df.columns = column_2012
    # drop column
    final_df.drop(labels=['TOTAL','PERCENTAGE SHARE','UNKNOWN2','UNKNOWN3','UNKNOWN1','MONTHS'],axis=1,inplace=True)
    # drop rows
    final_df.drop([27,36,37,38],axis=0,inplace=True)
    # reset the index
    final_df =final_df.reset_index(drop=True)
     # remove commas
    final_df = final_df.replace(',','', regex=True)
    # create the product column
    final_df['product'] = 'CRUDEOIL'
     # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    # add duplicated rows in the dataframe
    final_df.iloc[0] = final_df.iloc[0][1:-1].astype(float)+ final_df.iloc[1][1:-1].astype(float)
    final_df.iloc[0][-1] = 'CRUDEOIL'
    final_df.iloc[0][0] = final_df.iloc[1][0]
    final_df.iloc[9] = final_df.iloc[9][1:-1].astype(float)+ final_df.iloc[28][1:-1].astype(float) + final_df.iloc[29][1:-1].astype(float) + final_df.iloc[30][1:-1].astype(float)
    final_df.iloc[9][-1] = 'CRUDEOIL'
    final_df.iloc[9][0] = 'QUA_IBOE'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[31][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[4] = final_df.iloc[4][1:-1].astype(float)+ final_df.iloc[32][1:-1].astype(float)
    final_df.iloc[4][-1] = 'CRUDEOIL'
    final_df.iloc[4][0] = 'ESCRAVOS'
    final_df.iloc[13] = final_df.iloc[13][1:-1].astype(float)+ final_df.iloc[26][1:-1].astype(float) + final_df.iloc[33][1:-1].astype(float)
    final_df.iloc[13][-1] = 'CRUDEOIL'
    final_df.iloc[13][0] = 'OSO'
    # drop row 
    final_df.drop(labels=[1,26,28,29,30,31,32,33],axis =0,inplace=True)
    # complete the enitiy name spellings
    entity_list = ['FORCADOS', 'BONNY', 'BRASS', 'ESCRAVOS', 'PENNINGTON', 'ANTAN', 'AMENAM', 'IMA', 'QUA_IBOE', 'AGBAMI', 'OKORO', 'AKPO', 'OSO','UKPOKITI', 'OKONO', 'YOHO', 'ABO', 'OBE', 'OKWB', 'BONGA', 'ERHA','OYO', 'EBOK','USAN','OKWUIBOME', 'SEA EAGLE', 'EKANGA/ZAFIRO']
    final_df['entity'] = entity_list
    # melt the datframe into the required format'entity
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2013**

In [18]:
# create the fuction for the 2013
def transform_data_2013():
    # read in the data   
    production_year:str = 2013
    final_df =tabula.read_pdf(file_link_2[5],pages = '38',output_format ='dataframe')[0]
    # slice out the unwanted part
    final_df= final_df.iloc[2:,:]
    # rename the columns 
    column_2013 = ['entity','JANUARY','FEBRUARY_MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER',
    'NOV_DEC_TOTAL','PERCENTAGE_SHARE']
    final_df.columns = column_2013 
    
    # expand the column that were combined
    final_df[['FEBRUARY','MARCH']] = final_df['FEBRUARY_MARCH'].str.split(' ',expand=True)
    final_df[['NOVEMBER','DECEMBER','TOTAL']] = final_df.NOV_DEC_TOTAL.str.split(' ',expand=True)
    
    # drop columns
    final_df.drop(labels=['FEBRUARY_MARCH','NOV_DEC_TOTAL','PERCENTAGE_SHARE','TOTAL'],axis=1,inplace=True)
    # rearrange the columns
    final_df= final_df[['entity','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER']]
    # drop the rows
    final_df.drop(labels=[29,37,38,39],axis=0,inplace=True)
    # reset the index 
    final_df = final_df.reset_index(drop= True)
    # remove commas
    final_df = final_df.replace(',','', regex=True)
    # create the product column
    final_df['product'] = 'CRUDEOIL'
     # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    # add duplicated rows in the dataframe
    final_df.iloc[0] = final_df.iloc[0][1:-1].astype(float)+ final_df.iloc[1][1:-1].astype(float)
    final_df.iloc[0][-1] = 'CRUDEOIL'
    final_df.iloc[0][0] = final_df.iloc[1][0]
    final_df.iloc[9] = final_df.iloc[9][1:-1].astype(float)+ final_df.iloc[28][1:-1].astype(float) + final_df.iloc[29][1:-1].astype(float) + final_df.iloc[30][1:-1].astype(float)
    final_df.iloc[9][-1] = 'CRUDEOIL'
    final_df.iloc[9][0] = 'QUA_IBOE'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[31][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[4] = final_df.iloc[4][1:-1].astype(float)+ final_df.iloc[32][1:-1].astype(float)
    final_df.iloc[4][-1] = 'CRUDEOIL'
    final_df.iloc[4][0] = 'ESCRAVOS'
    final_df.iloc[13] = final_df.iloc[13][1:-1].astype(float)+ final_df.iloc[26][1:-1].astype(float) + final_df.iloc[33][1:-1].astype(float)
    final_df.iloc[13][-1] = 'CRUDEOIL'
    final_df.iloc[13][0] = 'OSO'
    # change the name of a row
    final_df.loc[16,'entity'] = 'SEA EAGLE'
    # drop row 
    final_df.drop(labels=[1,27,28,29,30,31,32,33],axis =0,inplace=True)
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)

    return final_df

**2014**

In [19]:
# create the fuction for the 2014
def transform_data_2014():
    # read in the data 
    production_year:str = 2014
    final_df =tabula.read_pdf(file_link_2[6],pages = '23',output_format ='dataframe')[0]
    # rename columns
    column_2014 = ['entity','MONTHS','JANUARY','FEBRUARY','COMBINED','NOVEMBER','DECEMBER','TOTAL']
    final_df.columns = column_2014
    # slice out the unwanted data
    final_df= final_df.iloc[3:,:]
    # drop unwanted columnsabs 
    final_df.drop(labels=['MONTHS','TOTAL'],axis=1,inplace=True)
    # expland the data and drop the old one
    final_df[['MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER']]=final_df['COMBINED'].str.split(' ',expand=True)
    final_df.drop(labels = 'COMBINED',axis =1,inplace=True)
    # rearrange the columns
    final_df= final_df[['entity','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER']]
    # drop rows
    final_df.drop(labels=[31,42,43,44],axis=0,inplace=True)
    # reset the index
    final_df= final_df.reset_index(drop=True)
    # remove commas
    final_df = final_df.replace(',','', regex=True)
    final_df = final_df.replace('-','0', regex=True)
      # create the product column
    final_df['product'] = 'CRUDEOIL'
    # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    # add duplicated rows in the dataframe
    final_df.iloc[0] = final_df.iloc[0][1:-1].astype(float)+ final_df.iloc[1][1:-1].astype(float)
    final_df.iloc[0][-1] = 'CRUDEOIL'
    final_df.iloc[0][0] = final_df.iloc[1][0]
    final_df.iloc[9] = final_df.iloc[9][1:-1].astype(float)+ final_df.iloc[29][1:-1].astype(float) + final_df.iloc[30][1:-1].astype(float) + final_df.iloc[31][1:-1].astype(float)
    final_df.iloc[9][-1] = 'CRUDEOIL'
    final_df.iloc[9][0] = 'QUA_IBOE'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[32][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[4] = final_df.iloc[4][1:-1].astype(float)+ final_df.iloc[33][1:-1].astype(float) + final_df.iloc[34][1:-1].astype(float)
    final_df.iloc[4][-1] = 'CRUDEOIL'
    final_df.iloc[4][0] = 'ESCRAVOS'
    final_df.iloc[13] = final_df.iloc[13][1:-1].astype(float)+ final_df.iloc[28][1:-1].astype(float) + final_df.iloc[37][1:-1].astype(float)
    final_df.iloc[13][-1] = 'CRUDEOIL'
    final_df.iloc[13][0] = 'OSO'
    final_df.iloc[7] = final_df.iloc[7][1:-1].astype(float)+ final_df.iloc[32][1:-1].astype(float)
    final_df.iloc[7][-1] = 'CRUDEOIL'
    final_df.iloc[7][0] = 'AMENAM'
    final_df.iloc[3] = final_df.iloc[3][1:-1].astype(float)+ final_df.iloc[35][1:-1].astype(float)
    final_df.iloc[3][-1] = 'CRUDEOIL'
    final_df.iloc[3][0] = 'BRASS'
    final_df.iloc[2] = final_df.iloc[2][1:-1].astype(float)+ final_df.iloc[36][1:-1].astype(float)
    final_df.iloc[2][-1] = 'CRUDEOIL'
    final_df.iloc[2][0] = 'BONNY'
    # change the name
    final_df.iloc[16][0] = 'SEA EAGLE'
    # drop row 
    final_df.drop(labels=[1,28,29,30,31,32,33,34,35,36,37],axis =0,inplace=True)
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
  
    return final_df

**2015**

In [20]:
# create the fuction for the 2014
def transform_data_2015():
    # read in the data  
    production_year:str = 2015
    final_df =tabula.read_pdf(file_link_2[8],pages = '17',output_format ='dataframe')[0]
    # rename columns
    column_2014 = ['entity','MONTHS','JANUARY','FEBRUARY','COMBINED','NOVEMBER','DECEMBER','TOTAL']
    final_df.columns = column_2014
    # slice out the unwanted data
    final_df= final_df.iloc[3:,:]
    # drop unwanted columnsabs 
    final_df.drop(labels=['MONTHS','TOTAL'],axis=1,inplace=True)
    # expland the data and drop the old one
    final_df[['MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER']]=final_df['COMBINED'].str.split(' ',expand=True)
    final_df.drop(labels = 'COMBINED',axis =1,inplace=True)
    # rearrange the columns
    final_df= final_df[['entity','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER']]
    # reset the index
    final_df= final_df.reset_index(drop=True)
    # drop rows
    final_df.drop(labels=[26],axis=0,inplace=True)
    # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
     # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
   # change the name
    final_df.iloc[14][0] = 'SEA EAGLE'
    final_df.iloc[8][0] = 'QUA_IBOE'
    # remove commas
    final_df = final_df.replace(',','', regex=True)
    final_df = final_df.replace('-','0', regex=True)
    
    return final_df

**2019**

In [21]:
# create the fuction for the 2019
def transform_data_2019():
    # read in the data   
    production_year:str = 2019
    final_df =tabula.read_pdf(file_link_2[12],pages = '12',output_format ='dataframe')[0]
    # rename the column
    column_2019 = ['entity','MONTHS','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER','TOTAL']
    final_df.columns = column_2019
    # slice the unwanted part
    final_df=final_df.iloc[2:,:]
    # drop columns
    final_df.drop(labels=['MONTHS','TOTAL'],axis=1,inplace=True)
    # drop row
    final_df.drop(labels=[31],axis=0,inplace=True)
    # set index
    final_df = final_df.reset_index(drop= True)
     # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    final_df['entity'] = final_df['entity'].str.upper()
    # change the entity format
    final_df['entity'] =final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    # change the name
    final_df.iloc[26][0] = 'SEA EAGLE'
    final_df.iloc[25][0] = 'QUA_IBOE'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    return final_df

**TRANSFORMATION FOR 1997 to 2005**

In [22]:
file_link_3 = file_storage[:9]

**1997**

In [23]:
def transform_data_1997():
    # read in the data 
    production_year:str = 1997
    final_df = tabula.read_pdf(file_link_3[0],pages = '16',output_format ='dataframe')[0]
    # drop null values
    final_df.dropna(how= 'all',inplace=True)
    # rename the column name
    col_name = ['MONTH','Forcados Blend','Bonny Light', 'Bonny Medium','Brass Blend', 'Escravos Light','Pennington Light', 'Antan Blend','Odudu Blend','IMA','UNKNOWN','Qua- Iboe Light', 'Oso Condensate', 'Other Condensate', 'Total']
    final_df.columns = col_name
    # slice out the unnecessary part
    final_df = final_df.iloc[2:,:]
    # drop the rows and reser index
    final_df.drop(labels=[28],axis=0,inplace=True)
    final_df = final_df.reset_index(drop=True)
    # drop column 
    final_df.drop(columns=['UNKNOWN','Total'],inplace=True)
    # Transpose 
    final_df = final_df.T
    # change the column
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # create the product column
    final_df['product'] = 'CRUDEOIL'
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # add two rows into one
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    # drop row
    final_df.drop(labels=[2],axis=0,inplace=True)
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    
    # change the name
    final_df.iloc[8][0] = 'QUA_IBOE'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**1998**

In [24]:
# create the fuction for the 2019
def transform_data_1998():
    # read in the data   
    production_year:str = 1998
    final_df = tabula.read_pdf(file_link_3[1],pages = '28',output_format ='dataframe')[0]
    # slice the dataframe
    final_df =final_df.iloc[2:,:]
    # rename the column
    final_df.columns =final_df.iloc[0].values
    # slice again
    final_df =final_df.iloc[1:,:]
    # correct value of a colum,
    final_df.iloc[2][3] = final_df.iloc[1].str.split(' ')[3][0]+final_df.iloc[2].str.split(' ')[3][0]
    # drop rows
    final_df.drop(labels=[4,16,17],axis=0,inplace=True)
    # reset the index
    final_df = final_df.reset_index(drop=True)
    # fill the nan with zero
    final_df['Ukpokiti'] = final_df['Ukpokiti'].fillna(0)
    # Transpose and slice
    final_df = final_df.T
    final_df.columns = final_df.iloc[0].values
    final_df = final_df.iloc[1:,:]
    final_df.reset_index(inplace=True)
    # rename the columns
    col_names = ['entity','JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE','JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER']
    final_df.columns = col_names
    final_df.drop(labels=13,axis=0,inplace=True)
     # rename columns
    col_names = ['Forcados','Bonny','Bonny','Brass','Escravos','Penninghton','Antan','Odudu','Ima','Qua_Iboe','Oso','Other_Condensate','Ukpotiti']
    final_df['entity'] = col_names
    final_df['entity'] = final_df.entity.str.upper()
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # add product title
    final_df['product'] = 'CRUDEOIL'
    # add rows and delete the duplicate
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    final_df.drop(labels =[2],axis=0,inplace=True)
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
   
    return final_df

**1999**

In [25]:
# create the fuction for the 2019
def transform_data_1999():
    # read in the data   
    production_year:str = 1999
    final_df = tabula.read_pdf(file_link_3[2],pages = '28',output_format ='dataframe')[0]
    # drop empty rows
    final_df=final_df.dropna(how='all')
    # rename column,they are hard coded based on how they appear in the pdfs 
    col_name = ['Months','Forcados Blend','Bonny Light','Bonny Medium','Brass Blend','Escravos Light','Pennington Light','Antan Blend','Odudu Blend','IMA','Qua- Iboe Light','Oso Condensate','Other Condensate','ukpokiti','Total']
    final_df.columns = col_name
    # slice out the irrelevant area
    final_df = final_df.iloc[2:,:]
    # drop rows 
    final_df.drop(labels=[27],axis=0,inplace=True)
    # reshape the datafram
    final_df = final_df.T
    # rename columns
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # drop row 
    final_df.drop(labels=[13],inplace=True)
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # add product title
    final_df['product'] = 'CRUDEOIL'
    # add rows and delete the duplicate
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    final_df.drop(labels =[2],axis=0,inplace=True)
    # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    final_df.iloc[8][0] = 'QUA_IBOE'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2000**

In [26]:
# create the fuction for the 2019
def transform_data_2000():
    # read in the data  
    production_year:str = 2000
    final_df = tabula.read_pdf(file_link_3[3],pages = '28',output_format ='dataframe')[0]
    # rename columns;they are hard coded as they appear
    col_name = ['Months','Forcados Blend','Bonny Light','Bonny Medium','Brass Blend','Escravos Light','Pennington Light','Antan Blend','Odudu Blend','IMA','Qua- Iboe Light','Oso Condensate','Other Condensate','ukpokiti','Total']
    final_df.columns = col_name
    # slice the dataframe
    final_df = final_df.iloc[6:,:]
    # drop rows 
    final_df.drop(labels=[18],axis=0,inplace=True)
    # drop columns
    final_df.drop(labels=['Total'],axis=1,inplace=True)
    # reshape the datafram
    final_df = final_df.T
    # rename columns
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # remove some formatting
    final_df = final_df.replace('-','0', regex=True)
    # add product title
    final_df['product'] = 'CRUDEOIL'
    # add rows and delete the duplicate
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    final_df.drop(labels =[2],axis=0,inplace=True)
    # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('-','_').upper())
    final_df.iloc[8][0] = 'QUA_IBOE'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2001**

In [27]:
# create the fuction for the 2001
def transform_data_2001():
    # read in the data
    production_year:str = 2001
    final_df = tabula.read_pdf(file_link_3[4],pages = '21',output_format ='dataframe')[0]
    # drop empty rows
    final_df=final_df.dropna(how='all')
    # drop column
    final_df.drop(labels='CRUDE STREAM',axis=1,inplace=True)
    # rename the column as they appear
    col_name = ['Months','Forcados Blend','Bonny Light','Bonny Medium','Brass Blend','Escravos Light','Pennington Light','Antan Blend','Odudu Blend','IMA','Qua- Iboe Light','Oso Condensate','ukpokiti','Total']
    final_df.columns = col_name
    # slice the rows
    final_df = final_df.iloc[4:,:]
    # correct displaced column values
    final_df.iloc[0][0] = final_df.iloc[1][0]
    final_df.iloc[2][0] = final_df.iloc[4][0] 
    final_df.iloc[5][0]= final_df.iloc[6][0]
    final_df.iloc[7][0] = final_df.iloc[9][0]
    final_df.iloc[12][0] = final_df.iloc[13][0]
    final_df.iloc[14][0] = final_df.iloc[16][0]
    final_df.iloc[17][0] = final_df.iloc[19][0]
    final_df.iloc[20][0] = final_df.iloc[22][0]
    final_df.iloc[23][0] = final_df.iloc[25][0]
    final_df.iloc[26][0] = final_df.iloc[28][0]
    final_df.iloc[29][0] = final_df.iloc[31][0]
    final_df.iloc[10][0] = final_df.iloc[11][0]
    # drop unnecssary rows
    final_df.drop(labels=[45,46,47,41,37,33,29,25,21,19,17,13,11,7],axis= 0,inplace=True)
    # reset index
    final_df = final_df.reset_index(drop=True)
    # correct some displace columns values
    final_df.iloc[1][9] = final_df.iloc[2][9] 
    final_df.iloc[4][9] = final_df.iloc[5][9] 
    final_df.iloc[8][9] = final_df.iloc[9][9]
    final_df.iloc[10][9] = final_df.iloc[11][9]
    final_df.iloc[12][9] = final_df.iloc[13][9]
    final_df.iloc[14][9] = final_df.iloc[15][9]
    final_df.iloc[16][9] = final_df.iloc[17][9]
    final_df.iloc[18][9] = final_df.iloc[19][9]
    # drop rows 
    final_df.drop(labels=[2,5,9,11,13,15,17,19],axis=0,inplace=True)
    # reshape the table
    final_df = final_df.T
    # rename columns
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # drop columns
    final_df.drop(labels=[12],axis=0,inplace=True)
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # remove some formatting
    final_df = final_df.replace('-','0', regex=True)
    # add product title
    final_df['product'] = 'CRUDEOIL'
    # add rows and delete the duplicate
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    final_df.drop(labels =[2],axis=0,inplace=True)
    # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('- ','_').upper())
    final_df.iloc[8][0] = 'QUA_IBOE'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2002**

In [28]:
# create the fuction for the 2002
def transform_data_2002():
    # read in the data 
    production_year:str = 2002
    final_df = tabula.read_pdf(file_link_3[5],pages = '33',output_format ='dataframe')[0]
    # drop column
    final_df.drop(labels=[final_df.columns[4],final_df.columns[11],final_df.columns[15],final_df.columns[16]],axis=1,inplace=True)
    # drop rows
    final_df.drop(labels=[16,17],axis=0,inplace=True)
    # slice out the unwanted rows
    final_df = final_df.iloc[4:,:]
    # rename the columns
    col_name = ['Months','Forcados Blend','Bonny Light','Bonny Medium','Brass Blend','Escravos Light','Pennington Light','Antan Blend','Odudu Blend','IMA','Qua- Iboe Light','Oso Condensate','ukpokiti']
    final_df.columns = col_name
    # reshape the table
    final_df = final_df.T
    # rename columns
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # remove some formatting
    final_df = final_df.replace('-','0', regex=True)
    # add product title
    final_df['product'] = 'CRUDEOIL'
    # add rows and delete the duplicate
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    final_df.drop(labels =[2],axis=0,inplace=True)
    # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('- ','_').upper())
    final_df.iloc[8][0] = 'QUA_IBOE'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
        
    return final_df

**2003**

In [29]:
# create the fuction for the 2003
def transform_data_2003():
    # read in the data  
    production_year:str = 2003
    final_df = tabula.read_pdf(file_link_3[6],pages = '37',output_format ='dataframe')[0]
    # drop columns
    final_df.drop(labels=[final_df.columns[4],final_df.columns[19],final_df.columns[20],final_df.columns[21]],axis=1,inplace=True)
    # rename columns
    col_name = ['Months','Forcados Blend','Bonny Light','Bonny Medium','Brass Blend','Escravos Light','Pennington Light','Antan Blend','Odudu Blend','IMA','Qua- Iboe Light','Oso Condensate','ukpokiti','Okono','EA CRUDE(af)','Yoho(af)','Akpono(af)','ABO']
    final_df.columns = col_name
    # slice the dataframe
    final_df = final_df.iloc[3:,:]
    # drop rows
    final_df.drop(labels=[15,16],axis=0,inplace=True)
    # reshape the table
    final_df = final_df.T
    # rename columns
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # remove some formatting
    final_df = final_df.replace('-','0', regex=True)
    # add product title
    final_df['product'] = 'CRUDEOIL'
    # add rows and delete the duplicate
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    final_df.drop(labels =[2],axis=0,inplace=True)
    # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('- ','_').upper())
    final_df.iloc[8][0] = 'QUA_IBOE'
    final_df.iloc[12][0] = 'SEA EAGLE'
    final_df.iloc[13][0] = 'YOHO'
    final_df.iloc[14][0] = 'AKPONO'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

**2004**

In [30]:
# create the fuction for the 2004
def transform_data_2004():
    # read in the data 
    production_year:str = 2004
    final_df = tabula.read_pdf(file_link_3[7],pages = '36',output_format ='dataframe')[0]
    # drop columns
    final_df.drop(labels=[final_df.columns[18],final_df.columns[19]],axis=1,inplace=True)
    # rename columns
    col_name = ['Months','Forcados Blend','Bonny Light','Bonny Medium','Brass Blend','Escravos Light','Pennington Light','Antan Blend','Amenam Blend','IMA','Qua- Iboe Light','Oso Condensate','ukpokiti','Okono','EA CRUDE(af)','Yoho(af)','Amenam(af)','ABO']
    final_df.columns = col_name
    # slice the dataframe
    final_df = final_df.iloc[3:,:]
    # drop rows
    final_df.drop(labels=[15,16,17,18],axis=0,inplace=True)
    # reshape the table
    final_df = final_df.T
    # rename columns
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # remove some formatting
    final_df = final_df.replace(',','', regex=True)
    # remove some formatting
    final_df = final_df.replace('-','0', regex=True)
    # add product title
    final_df['product'] = 'CRUDEOIL'
    # add rows and delete the duplicate
    final_df.iloc[1] = final_df.iloc[1][1:-1].astype(float)+ final_df.iloc[2][1:-1].astype(float)
    final_df.iloc[1][-1] = 'CRUDEOIL'
    final_df.iloc[1][0] = 'BONNY'
    final_df.drop(labels =[2],axis=0,inplace=True)
    # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('- ','_').upper())
    final_df.iloc[8][0] = 'QUA_IBOE'
    final_df.iloc[12][0] = 'SEA EAGLE'
    final_df.iloc[13][0] = 'YOHO'
    final_df.iloc[14][0] = 'AKPONO'
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)

    return final_df

**2005**

In [31]:
# create the fuction for the 2005
def transform_data_2005():
    # read in the data   
    final_df = tabula.read_pdf(file_link_3[8],pages = '36',output_format ='dataframe')[0]
    production_year:str = 2005
    # drop columns
    final_df.drop(labels=['Unnamed: 18','Total','PERCENTAGE','Unnamed: 20'],axis=1,inplace=True)
    # drop rows
    final_df.drop(labels=[26,25,24,22,20,18,16,11,9,7,5,3,2,1,0],axis=0,inplace=True)
    # split the column into entity and forcados Blend
    final_df [['Months','Forcados Blend']] = final_df['CRUDE STREAM Forcados'].str.split(' ',expand=True)
    #drop column
    final_df.drop(columns='CRUDE STREAM Forcados',inplace=True)
    # rearrange the column
    final_df = final_df[['Months','Forcados Blend','Bonny Light','Brass Blend','Escravos','Pennington','Antan Blend','Amenam','IMA','Qua- Iboe','Oso','UKPOKITI','OKONO','EA Crude (af)','YOHO (af)','Amenam (af)','ABO',
    'OBE','OKWB','BONGA']]
    # rename columns
    col_name = ['Months','Forcados Blend','Bonny Light','Brass Blend','Escravos Light','Pennington Light','Antan Blend','Amenam','IMA','Qua-Iboe Light','Oso Condensate','UKPOKITI','OKONO','EA Crude (af)','YOHO (af)','Amenam (af)','ABO',
    'OBE','OKWB','BONGA']
    final_df.columns = col_name
    final_df = final_df.T
    # rename columns
    final_df.columns = final_df.iloc[0].values
    # slice the dataframe
    final_df = final_df.iloc[1:,:]
    # reset the index
    final_df = final_df.reset_index()
    final_df = final_df.replace(',','', regex=True)
    # remove some formatting
    final_df = final_df.replace('-','0', regex=True)
    # rename columnabs
    final_df = final_df.rename(columns={'index':'entity'})
    # add product title
    final_df['product'] = 'CRUDEOIL'
     # change the entity format
    final_df['entity'] = final_df['entity'].map(lambda x :x.split(' ')[0].replace('- ','_').upper())
    # change the name of a row
    final_df.loc[12,'entity'] = 'SEA EAGLE'
    # add rows and delete the duplicate
    final_df.iloc[6] = final_df.iloc[6][1:-1].astype(float)+ final_df.iloc[14][1:-1].astype(float)
    final_df.iloc[6][-1] = 'CRUDEOIL'
    final_df.iloc[6][0] = 'AMENAM'
    final_df.drop(labels =[14],axis=0,inplace=True)
    final_df.loc[8,'entity'] = 'QUA_IBOE'
    
    # melt the datframe into the required format
    final_df = pd.melt(final_df,id_vars='entity',var_name='period',value_name='value')
    # change the period format
    final_df['period'] = final_df['period'].str[:3] + str(production_year)
    
    return final_df

In [1]:
import pandas as pd
from pathlib import Path

path = r"C:\Users\ROSA_L\Downloads\nigeria_historical_data (2)\ng_oil_supply_2006.csv"

df = pd.read_csv(path, sep=";")

df

   entity   product     value   period
0    None  CRUDEOIL  80142250  JAN2006
1    None  CRUDEOIL  69066704  FEB2006
2    None  CRUDEOIL  69633805  MAR2006
3    None  CRUDEOIL  69553636  APR2006
4    None  CRUDEOIL  70816217  MAY2006
5    None  CRUDEOIL  72255218  JUN2006
6    None  CRUDEOIL  74144673  JUL2006
7    None  CRUDEOIL  74469345  AUG2006
8    None  CRUDEOIL  71998966  SEP2006
9    None  CRUDEOIL  73822688  OCT2006
10   None  CRUDEOIL  70132586  NOV2006
11   None  CRUDEOIL  73160418  DEC2006

In [8]:
entity = df['entity']

entity[0] = 'Bra'

mask = entity.values != 'None'
non_none_entity = pd.Series(entity.values[mask], entity.index[mask])

c:\users\rosa_l\pycharmprojects\scraper\venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
non_none_entity

0    Bra
dtype: object

In [10]:
mask = entity.values == 'None'
none_entity = pd.Series(entity.values[mask], entity.index[mask])

In [11]:
none_entity

1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
dtype: object

In [13]:
none_entity.append(non_none_entity).sort_index()

0      Bra
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
dtype: object

In [14]:
test = pd.Series()

c:\users\rosa_l\pycharmprojects\scraper\venv\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [15]:
test

Series([], dtype: float64)

In [16]:
test.sort_index()

Series([], dtype: float64)